body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background-color: #1a1a1a; /* Dark background color */
    color: #fff; /* Text color */
  }

#homePage {
    display: none;
}
body.logged #loginPage {
    display: none;
}
body.logged #homePage {
    display: flex;
}
.page {
    /* width: 100vw;
    height: 100vh; */
   
    /* display: flex;
    flex-direction: column; 
    align-items: center; 
    justify-content: center;  */
    /* height: 100vh; */

    background-color: #333; /* Dark gray background color for the form container */
    width: 300px;
    margin: auto;
    padding: 20px;
    border-radius: 8px;
    margin-top: 50px;
  
}
.page > * {
    /* width: 300px; */
}

#twoFAFormHolder {
    display: none !important;
}

.ready #twoFAFormHolder {
    display: flex !important;
}

#loginForm .code{
    display: none;
}

#loginForm.codeRequested .code{
    display: block;
}

#loginForm {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }

  h1 {
    font-size: 24px;
  }

  .form-control {
    padding: 10px;
    border: 1px solid #444; /* Dark gray border */
    border-radius: 4px;
    background-color: #555; /* Darker gray background color for inputs */
    color: #fff; /* Text color for inputs */
  }

  /* .code {
    display: flex;
    flex-direction: column;
  } */

  .text-muted {
    font-size: 14px;
  }

  .btn-primary {
    background-color: #007bff; /* Bootstrap primary color for the button */
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  .btn-primary:hover {
    background-color: #0056b3; /* Darker color on hover */
  }